<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>package_practice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- DBCP 연결도 여기에서 미리 만들수 있다. -->
  <resource-env-ref>
  	<description>ojdbc6 project_name connection pool</description>
  	<resource-env-ref-name></resource-env-ref-name>
  </resource-env-ref>
  
  <!-- 404 Error, 500 Error 등이 발생했을 때 보여질 페이지도 여기에서 미리 설정할 수 있다. -->
  
  <!-- 인코딩 필터 설정 -->
</web-app>